.intro
{
    position: fixed;
	top: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
	align-items: center;
	overflow: hidden;
	background-color: var( --color-option-1 );
}

.intro .main
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro .main .container h1
{
    margin: 2vmin;
	color: var(--color-option-2);
	animation: slideFromLeft 0.5s ease-in-out 0.2s 1 normal forwards;
}

.intro .main .container h1:nth-child( 2n )
{
	color: var(--color-option-3);
}

.intro .main img
{
	position: absolute;
	width: 60%;
	opacity: 0.08;
	z-index: -2;
}

.intro .title
{
	position: relative;
	width: 50%;
	height: 100vh;
}

.intro .title .letter, .intro .title .shadow
{
	position: absolute;
	bottom: -20%;
	right: 10%;
	font-size: 65vmin;
    font-weight: 800;
    color: var(--color-option-2);
	text-shadow: 2px 2px 8px var(--color-option-6);
	transform: rotate( -20deg );
	z-index: 3;
}

.intro .title .shadow
{
	bottom: -22.5%;
    right: 12%;
    font-size: 70vmin;
    color: var(--color-option-3);
    z-index: 2;
}

.intro .title .shadow::before, .intro .title .shadow::after
{
	content: '';
    position: absolute;
    bottom: 73%;
    left: 6%;
    width: 5.5vmin;
    background-color: var( --color-option-4 );
    z-index: -1;
    opacity: 0.5;

	animation: grow 0.5s ease-in-out 0.2s 1 normal forwards;
}

.intro .title .shadow::after
{
    left: 69%;
}

.intro .title .letter::before, .intro .title .letter::after
{
	content: '';
    position: absolute;
    bottom: 78%;
    left: 21.5%;
    width: 1.5vmin;
    background-color: var( --color-option-4 );
    z-index: -5;
    opacity: 0.5;

	animation: grow 0.5s ease-in-out 0.2s 1 normal forwards;
}

.intro .title .letter::after
{
    left: 89%;
}

@media screen and (max-width: 600px) 
{
	.intro
	{
		flex-direction: column;
		justify-content: center;
		padding-bottom: 10vh;
	}

	.intro .main
	{
		align-self: flex-start;
		margin: 10vmin;
	}

	.intro .main img
	{
		display: none;
	}

	.intro .title
	{
		height: 40vh;
    	align-self: flex-end;
	}

	.intro .title .letter::before, .intro .title .letter::after, .intro .title .shadow::before, .intro .title .shadow::after
	{
		min-height: 100vh;
		opacity: 0.3;
	}
}

@keyframes grow 
{
	0% 
	{
	  height: 0vmin;
	}
	100% 
	{
		height: 65vmin;
	}
}
  

@keyframes slideFromLeft 
{
	0% 
	{
	  transform: translateX( -100% )
	}
	100% 
	{
		transform: translateX( 0 );
	}
}