@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root
{
    --color-option-1: #6D98AB;
    --color-option-1-ligther: #e1f3fb;
    --color-option-2: #00275E;
    --color-option-3: #FEB729;
    --color-option-4: #A8B1B8;
    --color-option-5: #FFFFFF;
    --color-option-6: #000000;
}

html
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 8vmin;
}

.btn
{
    border: 2px solid var( --color-option-1 );
    color: var( --color-option-1 );
    border-radius: 1vmin;
    background: none;
    font-size: 2vmin;
    padding: 2vmin 5vmin;
    margin: 1vmin;
    background-color: var( --color-option-1-ligther );
    box-shadow: 0 0 10px 0 var( --color-option-4 );
    transition: 0.3s;
    cursor: pointer;
}

.btn:focus
{
    outline: none;
}

.btn:hover
{
    transform: translateY( -1vmin );
}

@media screen and (max-width: 600px) 
{
    h1
    {
        font-size: 10vmin;
    }

    .btn
    {
        font-size: 3vmin;
    }
}