@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root
{
    --color-option-1: #6D98AB;
    --color-option-2: #00275E;
    --color-option-3: #FEB729;
    --color-option-4: #A8B1B8;
    --color-option-5: #FFFFFF;
    --color-option-6: #000000;
}

html
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}